body{
    background: url('/images/backgrounds/squares.svg');
    background-color: khaki;
}


.heading{
    color: black;
    font-family: monospace;
    font-size: 2em;
    border: 4px solid navy;
    border-style: dashed;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: white;
}
